In [2]:
library(tidyverse)

options(repr.matrix.max.rows= 8)

School_hdi_data <- read_tsv("/home/jupyter/Group_46_Final_Project/Expected_years of schooling_(years).tsv",
                           col_names = FALSE,
                            skip =6)
School_hdi_data

#This was doen to skip the first 6 columns.

School_hdi_data_1 <- School_hdi_data %>%
    slice(1:(n()-9))
#This was done to get rid of all the bottom rows that had irrelevant/ extra information

School_hdi_data_2 <- School_hdi_data_1 %>%
        select(X1:X62)%>%
        filter(X1 != "NA") 
#This was done to remove any colums that had NA values for the HDI as they are not going to contribute to answering the question.

School_hdi_data_3 <- School_hdi_data_2[, colSums(is.na(School_hdi_data_2)) < nrow(School_hdi_data_2)]
#This was done to get rid of all the columns that had NA as values for all the rows.

drop <- c("X62")

School_hdi_data_4 = School_hdi_data_3[,!(names(School_hdi_data_3) %in% drop)]
#This was doen to delete the 62nd row

School_hdi_data_5 <- School_hdi_data_4[-c(1),]                         
#This was done to make the first row the column names

cols <- c("HDI_Rank","Country","1990","1991", "1992", "1993", "1994","1995", "1996", "1997", "1998","1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007",  "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015","2016", "2017", "2018", "2019")
colnames(School_hdi_data_5 ) <- cols
School_hdi_data_5
#This was done to give the colums column names

School_hdi_data_6 <- pivot_longer(School_hdi_data_5, cols = "1990":"2019",
                 names_to = "Years",
                values_to = "Years_of_Schooling")
School_hdi_data_6 
#This step tidies the data into 4 colums that all have one variable.

glimpse(School_hdi_data_6)
#The glimpse provides a small look into what the table of data is made up of

School_hdi_data_7 <- School_hdi_data_6 %>%
        select("HDI_Rank", "Country", "Years", "Years_of_Schooling")%>%
        filter(HDI_Rank != "..", Years_of_Schooling != ".." )
#This step allows the exclusion of rows with ".." values

Parsed with column specification:
cols(
  .default = col_character(),
  X4 = col_logical(),
  X6 = col_logical(),
  X8 = col_logical(),
  X10 = col_logical(),
  X12 = col_logical(),
  X14 = col_logical(),
  X16 = col_logical(),
  X18 = col_logical(),
  X20 = col_logical(),
  X22 = col_logical(),
  X24 = col_logical(),
  X26 = col_logical(),
  X28 = col_logical(),
  X30 = col_logical(),
  X32 = col_logical(),
  X34 = col_logical(),
  X36 = col_logical(),
  X38 = col_logical(),
  X40 = col_logical(),
  X42 = col_logical()
  # ... with 9 more columns
)

See spec(...) for full column specifications.

    X1
1   HDI Rank
2   169
3   69
4   91
⋮   ⋮
217 f: Based on cross-country regression.
218 g: Updated by HDRO based on data from CEDLAS and World Bank (2020).
219 h: Updated by HDRO based on data from United Nations Children’s Fund (UNICEF) Multiple Indicator Cluster Surveys for 2006–2019.
220 i: Based on data from OECD (2019b).
    X2          X3   X4 X5   X6 X7   X8 X9   X10 ⋯ X53  X54 X55  X56 X57  X58
1   Country     1990 NA 1991 NA 1992 NA 1993 NA  ⋯ 2015 NA  2016 NA  2017 NA
2   Afghanistan 2.6  NA 2.9  NA 3.2  NA 3.6  NA  ⋯ 10.2 NA  10.3 NA  10.1 NA
3   Albania     11.6 NA 11.8 NA 10.7 NA 10.1 NA  ⋯ 15.1 NA  14.8 NA  14.8 NA
4   Algeria     9.6  NA 9.7  NA 9.8  NA 9.8  NA  ⋯ 14.2 NA  14.2 NA  14.4 NA
⋮   ⋮           ⋮    ⋮  ⋮    ⋮  ⋮    ⋮  ⋮    ⋮   ⋱ ⋮    ⋮   ⋮    ⋮   ⋮    ⋮
217 NA          NA   NA NA   NA NA   NA NA   NA  ⋯ NA   NA  NA   NA  NA   NA
218 NA          NA   NA NA   NA NA   NA NA   NA  ⋯ NA   NA  NA   NA  NA   NA
219 NA          NA   NA NA   NA NA   NA NA   NA  ⋯ NA   NA  NA   NA  NA   NA
220 NA          NA   NA NA   NA NA   NA NA   NA  ⋯ NA   NA  NA   NA  NA   NA
    X59  X60 X61  X62
1   2018 NA  2019 NA
2   10.1 NA  10.2 a
3   14.7 NA  14.7 a
4   14.5 NA  14.6 a
⋮   ⋮    ⋮   ⋮    ⋮
217 NA   NA  NA   NA
218 NA   NA  NA   NA
219 NA   NA  NA   NA
220 NA   NA  NA   NA

    HDI_Rank Country     1990 1991 1992 1993 1994 1995 1996 1997 ⋯ 2010 2011
1   169      Afghanistan 2.6  2.9  3.2  3.6  3.9  4.2  4.6  4.9  ⋯ 9.5  9.5
2   69       Albania     11.6 11.8 10.7 10.1 10.1 10.2 10.2 10.5 ⋯ 13.0 13.7
3   91       Algeria     9.6  9.7  9.8  9.8  9.9  9.8  10.0 10.3 ⋯ 14.0 14.3
4   36       Andorra     10.8 10.8 10.8 10.8 10.8 10.8 10.8 10.8 ⋯ 11.7 11.7
⋮   ⋮        ⋮           ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋱ ⋮    ⋮
190 117      Viet Nam    7.8  8.1  8.4  8.7  9.0  9.3  9.6  9.0  ⋯ 12.0 12.5
191 179      Yemen       7.5  7.5  7.6  7.6  7.6  7.6  7.6  7.6  ⋯ 8.6  9.0
192 146      Zambia      7.5  7.7  8.0  8.2  8.4  8.7  8.9  9.1  ⋯ 11.0 10.9
193 150      Zimbabwe    9.8  10.2 9.8  9.8  9.8  9.8  9.8  9.8  ⋯ 10.1 10.2
    2012 2013 2014 2015 2016 2017 2018 2019
1   10.0 10.2 10.3 10.2 10.3 10.1 10.1 10.2
2   14.6 14.9 15.3 15.1 14.8 14.8 14.7 14.7
3   13.9 13.6 14.0 14.2 14.2 14.4 14.5 14.6
4   13.5 13.1 13.5 13.1 13.3 13.0 13.3 13.3
⋮   ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋮
190 12.6 12.6 12.7 12.7 12.7 12.7 12.7 12.7
191 8.5  8.8  8.7  8.7  8.7  8.7  8.7  8.8
192 10.9 11.0 11.0 11.1 11.2 11.3 11.4 11.5
193 10.3 10.2 10.3 10.3 10.4 10.5 10.5 11.0

     HDI_Rank Country     Years Years_of_Schooling
1    169      Afghanistan 1990  2.6
2    169      Afghanistan 1991  2.9
3    169      Afghanistan 1992  3.2
4    169      Afghanistan 1993  3.6
⋮    ⋮        ⋮           ⋮     ⋮
5787 150      Zimbabwe    2016  10.4
5788 150      Zimbabwe    2017  10.5
5789 150      Zimbabwe    2018  10.5
5790 150      Zimbabwe    2019  11.0

Rows: 5,790
Columns: 4
$ HDI_Rank           <chr> "169", "169", "169", "169", "169", "169", "169", "…
$ Country            <chr> "Afghanistan", "Afghanistan", "Afghanistan", "Afgh…
$ Years              <chr> "1990", "1991", "1992", "1993", "1994", "1995", "1…
$ Years_of_Schooling <chr> "2.6", "2.9", "3.2", "3.6", "3.9", "4.2", "4.6", "…

In [ ]:
School_hdi_data_8 <- School_hdi_data_7 %>%
        mutate(HDI_Rank = as.numeric(HDI_Rank))%>%
        mutate(Years_of_Schooling = as.numeric(Years_of_Schooling))
School_hdi_data_8
#This changes the HDI_Rank into a numerical value which allows for further analysis



School_hdi_data_9 <- School_hdi_data_8%>%
                select(-Country,-Years)
School_hdi_data_9
#This omits the columns that do not contribute to our analysis

library(dplyr)

School_hdi_data_10 <- School_hdi_data_9 %>%
                    mutate(ranges = cut(HDI_Rank,breaks = c(1, 66, 119, 156, 189),labels = c("very_high","high","medium", "low"), include.lowest = TRUE)) %>%
                    group_by(ranges) %>%
                    summarise(Number_of_rows= n())%>%
                    rename( HDI_ranges = ranges)
School_hdi_data_10
#This creates a table that places rows into a certain range, and counts the numbers of rows in that range.

In [ ]:
set.seed(624) #ONLY WRITE THIS ONCE

library(repr)
library(tidymodels)

School_hdi_split <- initial_split(School_hdi_data_9, prop = 0.75, strata = HDI_Rank)
School_hdi_split

School_hdi_train <- training(School_hdi_split)
School_hdi_train

School_hdi_test <- testing(School_hdi_split)
#This splits the data set into training and testing data

In [ ]:
School_hdi_train_summary <- summary(School_hdi_train)
School_hdi_train_summary
#This table summarizes the qualitites of the dataset, including mean and minimum.

# School_hdi_train_mean <- mean(School_hdi_train$Years_of_Schooling)
# School_hdi_train_mean
# School_hdi_train_min <- min(School_hdi_train$Years_of_Schooling)
# School_hdi_train_min
#These are alternative ways of calculating the average and the minimum values of the years of schooling. 

School_hdi_train_count <- count(School_hdi_train)%>%
                        rename(Number_of_Rows = n)
School_hdi_train_count

#This counts the number of rows in our training data 

options(repr.plot.width=12, repr.plot.height=12)

School_hdi_train_plot <- School_hdi_train %>%
                    ggplot(aes(x =HDI_Rank , y = Years_of_Schooling))+
                    geom_point()+
                    geom_smooth(method = "lm")+
                    labs(x= "Level of Education (Years of Schooling)" , y = "HDI Rank of a Country (1 to 189)")+
                    ggtitle("Correlation between Level of Education (Years of Schooling) \n and the HDI Rank of a Country (1 to 189)")+
                    theme(text = element_text(size=20))+
                    theme(plot.title = element_text(hjust = 0.5))
School_hdi_train_plot
#This plots our graph for exploratory analysis